%img-contain {
    object-fit: contain;
    object-position: center;
    cursor: pointer;
}

%img-cover {
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

%d-flex {
    display: flex;
    align-items: center;
}

%d-flex-start {
    display: flex;
    justify-content: start;
    align-items: center;
}

%d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}